<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Глушим всё DEBUG по умолчанию -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Kafka и fs2-kafka понижаем до WARN -->
    <logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="fs2.kafka" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Если надо совсем убрать телеметрию Kafka -->
    <logger name="org.apache.kafka.common.telemetry" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
